@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  src: local('Helvetica Neue'), local('HelveticaNeue'), url(https://fonts.gstatic.com/s/helveticaneue/v15/afUVkq7Vl8QVnT2tEboA.woff2) format('woff2');
}

:root {
  background-color: #333333;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 16px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  background-color: #333333;
  align-items: center;
}

.track-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #fff;
  background-color: #333;
  border-radius: 5px;
}

/* Rouded inputs */
input {
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: #333333;
  color: white;
  margin: 5px;
  font-family: "Helvetica Neue", sans-serif
}

.text-input {
  padding: 5px;
}

button {
  padding: 5px 10px;
  border: white 1px solid;
  border-radius: 5px;
  background-color: #444;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  font-family: "Helvetica Neue", sans-serif;

}

button:hover {
  background-color: #0080ff;
  color: #333;
  border: 1px solid #0080ff;
}

#search {
  align-items: center;
  display: flex;
  justify-content: center;

}

#get-marks-button {
  display: none;
  justify-content: center;
  align-self: center;
  padding: 10px;
}

.form {
  display: flex;
  justify-content: center;
}

#results{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}
.slider {
  -webkit-appearance: none;
  width: 300px;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0080ff;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #0080ff;
  cursor: pointer;
}